.vs/
*.sublime-*
**/*.sublime-*
**/bin/
**/node_modules/
**/bower_components/
**/*.min.cshtml
**/*.log
.vs

Core1Test.Presentation.App/wwwroot/sw.js
Core1Test.Presentation.App/wwwroot/js
Core1Test.Presentation.App/wwwroot/css
Core1Test.Presentation.App/wwwroot/fonts
Core1Test.Presentation.App/wwwroot/_references.js
