<form name="LoginForm" md-whiteframe="3" ng-submit="LoginIndex.Submit(LoginIndex.LoginModel, LoginForm)" novalidate>
	<h2>Login</h1>
	<div layout="column">
		<div flex="">
			<md-input-container>
				<label>E-mail</label>
				<input name="Email" type="email" ng-model="LoginIndex.LoginModel.Email" required>
			</md-input-container>
		</div>
		<div flex="">
			<md-input-container>
				<label>Senha</label>
				<input name="Senha" type="password" ng-model="LoginIndex.LoginModel.Senha" required>
			</md-input-container>
		</div>
		<div flex="">
			<button type="submit" class="md-mini md-button md-primary" aria-label="Enviar dados do formulário" md-ripple-size="full">ENVIAR</button>
		</div>
	</div>
</form>
